body {
  background: #F5F7FB;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  color: #293264;
  font-family: 'Karla';
}

#root {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
}

.intro-title {
  text-align: center;
  font-size: 31.25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


