* {
  box-sizing: border-box;
}
body {
  background: #F5F7FB;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  max-height: 100vh;
  color: #293264;
  font-family: 'Karla';
}

#root {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:left;
}

.intro-title {
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.button {
  padding:2rem;
  background:#4D5B9E;
  color:white;
  border-radius:20px;
  box-shadow:none;
  font-size:2rem;
  font-family: 'Karla';
  border-style:2px #4D5B9E solid;
}

.question {
  border-bottom:2px solid #DBDEF0;
  margin:1rem;
  padding:1rem;
}

.question-container {
}

.question {

  align-items:center;
  justify-content:center;
  flex-direction: column;
  
}



.selected {
  background:#D6DBF5;
  color:#293264;
}
.answer-container {
  display:flex;
  flex-wrap:wrap;
}

.answer {
  margin:1em;
  padding:0.25em 1em;
  border: 2px solid #293264;
  border-radius: 20px;
  font-weight:600;
  white-space: nowrap;
}

.wrong {
  background:#F8BCBC;
  color:#293264;
  opacity: 50%;
}

.correct {
  background:#94D7A2;
}
.stats {
  margin:auto;
  padding:1rem;
  
}


@media(max-width:500px) {
  :root{
    font-size: 12px;
  }
}