.blob {
    position:absolute;
    z-index:0;
}

.blob-1 {
    position:absolute;
    top:-10vw;
    right:-10vw;
    width: 30vw;
}

.blob-2 {
    position:absolute;
    bottom:-10vw;
    left:-10vw;
    width:30vw;
}