.blob {
    position:absolute;
    z-index:0;
}

.blob-1 {
    position:absolute;
    top:-20vw;
    right:-20vw;
    width: 40vw;
}

.blob-2 {
    position:absolute;
    bottom:-20vw;
    left:-20vw;
    width:40vw;
}