.blob {
    position:absolute;
    z-index:0;
}

.blob-1 {
    position:absolute;
    top:-400px;
    right:-400px;
    width: 50rem;
}

.blob-2 {
    position:absolute;
    bottom:-180px;
    left:-180px;
    width:30rem;
}